In [2]:
import pandas as pd

In [6]:
import seaborn as sns 

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기 
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
df['ten'] = 10
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [9]:
def add_10(n):
    return n + 10

def add_two_obj(a,b): 
    return a + b

print(add_10(10))
print(add_two_obj(10,10))

20
20

In [12]:
df['age'].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [13]:
# 시리즈 객채에 적용
sr1 = df['age'].apply(add_10)
print(sr1.head())
print('\n')


# 시리즈 객채와 숫자에 적용: 2개의 인수(시리즈 + 숫자)
sr2 = df['age'].apply(add_two_obj, b=10)
print(sr2.head())
print('\n')


# lambda 함수 활용: 시리즈 객체에 적용
sr3 = df['age'].apply(lambda x: add_10(x)) # x=df['age']
print(sr3.head())
print('\n')

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64