In [1]:
import seaborn as sns 

# titanic 데이터셋에서 age, fare 2개의 열을 선택하여 데이터프레임 만들기 
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [2]:
# 사용자 함수 정의 
def add_10(n): 
    return n + 10


# 데이터프레임에 applymap()으로 add_10() 함수를 매핑 적용 
df_map = df.applymap(add_10) 
print(df_map.head())

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500