# 열 선택   

#### 방법 1 - 대괄호([] 안에 열 이름을 따옴표와 함께 입력 
#### 방법 2 -  도트(.) 다음에 열 이름을 입력(단, 도트 연산자의 경우 열 이름이 문자열인 경우만 가능!)   
   
> 열1개 선택(시리즈 생성): DataFrame 객체['열 이름'] 또는 DataFrame 객체.열이름

대괄호 안에 열 이름의 리스트를 입력하면(2중 대괄호) 리스트의 원소인 열을 모두 선택하여 데이터프레임으로 반환함.   
또한 리스트의 원소로 열 이름 한 개만 있는 경우에도, 2중 대괄호([[]])를 사용 하는 것이 되어 반환되는 객체는 시리즈가 아니라 데이터프레임이 된다. 

> 열 n개 선택(데이터프레임 생성): DataFrame 객체[ [열1, 열2, ..., 열n  ]

In [1]:
import pandas as pd

exam_data = {'수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90],
            }



df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [2]:
# '수학' 점수 데이터만 선택. 변수 math1에 저장 
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english)
print(type(english))

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


서준    98
우현    89
인아    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [3]:

# '음악', '체육' 점수 데이터를 선택. 변수 music_gym에 저장

music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))
print('\n')


# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

     음악   체육
서준   85  100
우현   95   90
인아  100   90
<class 'pandas.core.frame.DataFrame'>


    수학
서준  90
우현  80
인아  70
<class 'pandas.core.frame.DataFrame'>

## 범위 슬라이싱 고급 활용 

> 범위 슬라이싱: DataFrame객체.iloc[시작인덱스 :  끝인덱스  :  슬라이싱 간격]

In [7]:
df.iloc[::2]
# df의 모든 행에 대하여 0행부터 2행간격으로 선택하려면 df.iloc[::2]라고 입력한다.

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [6]:
# 데이터 프레임 df의 0행부터 2행까지 2행 간격으로 선택하려면 df.iloc[:3:2]라고 입력한다. 
df.iloc[:3:2]

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [8]:
# 역순으로 인덱싱하려면 "슬라이싱 간격"에 -1을 입력한다. 데이터프레임 df의 모든 행을 선택하여 역순으로 정렬하려면 df.iloc[::-1]라고 입력!
df.iloc[::-1]

    수학  영어   음악   체육
인아  70  95  100   90
우현  80  89   95   90
서준  90  98   85  100

### 원소 선택   
데이터프레임의 행 인덱스와 열 이름을[행,열] 형식의 2차원 좌표로 입력하여ㅕ 원소 위치를 지정하는 방법이다. 원소가 위치하는 행과 열의 좌표를 입력하면 해당 위치의 원소가 반환된다.   
1개의 행과 2개 이상의 열을 선택하거나 반대로 2개 이상의 행과 1개의 열을 선택하는 경우 *시리즈 객체*가 반환된다.    
2개 이상의 행과 2개 이상의 열을 선택하면, 데이터프레임 객체를 반환함.   
   
> 인덱스 이름 :   DataFrame 객체.loc[행 인덱스 열 이름]   
정수 위치 인덱스:   DataFrame 객체.iloc[행 번호, 열 번호]

### 원소 1개 선택

In [9]:
df.loc['서준','음악']

85

In [11]:
df.iloc[0,2]

85

### 원소2개(시리즈)선택

In [16]:
# 원소2개(시리즈) 선택
df.loc['서준', ['음악','체육']]

음악     85
체육    100
Name: 서준, dtype: int64

In [14]:
df.iloc[0,[2,3]]

음악     85
체육    100
Name: 서준, dtype: int64

In [17]:
df.loc['서준','음악':'체육']

음악     85
체육    100
Name: 서준, dtype: int64

In [19]:
df.iloc[0, 2:]

음악     85
체육    100
Name: 서준, dtype: int64

### 데이터프레임의 일부분 선택