# 열 선택   

#### 방법 1 - 대괄호([] 안에 열 이름을 따옴표와 함께 입력 
#### 방법 2 -  도트(.) 다음에 열 이름을 입력(단, 도트 연산자의 경우 열 이름이 문자열인 경우만 가능!)   
   
> 열1개 선택(시리즈 생성): DataFrame 객체['열 이름'] 또는 DataFrame 객체.열이름

대괄호 안에 열 이름의 리스트를 입력하면(2중 대괄호) 리스트의 원소인 열을 모두 선택하여 데이터프레임으로 반환함.   
또한 리스트의 원소로 열 이름 한 개만 있는 경우에도, 2중 대괄호([[]])를 사용 하는 것이 되어 반환되는 객체는 시리즈가 아니라 데이터프레임이 된다. 

> 열 n개 선택(데이터프레임 생성): DataFrame 객체[ [열1, 열2, ..., 열n  ]

In [1]:
import pandas as pd

exam_data = {'수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90],
            }



df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [2]:
# '수학' 점수 데이터만 선택. 변수 math1에 저장 
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english)
print(type(english))

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


서준    98
우현    89
인아    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [10]:

# '음악', '체육' 점수 데이터를 선택. 변수 music_gym에 저장

music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))
print('\n')


# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

     음악   체육
서준   85  100
우현   95   90
인아  100   90
<class 'pandas.core.frame.DataFrame'>


    수학
서준  90
우현  80
인아  70
<class 'pandas.core.frame.DataFrame'>

## 범위 슬라이싱 고급 활용 

> 범위 슬라이싱: DataFrame객체.iloc[시작인덱스 :  끝인덱스  :  슬라이싱 간격]