In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {
                '이름': ['서준', '우현', '인아'],
                '수학': [90,80,70],
                '영어': [98,89,95],
                '음악': [85,95,100],
                '체육': [100,90,90],             
}

df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영
df.set_index('이름',inplace=True)
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [3]:
# 데이터프레임 df의 특정 원소 1개 선택('서준'의 '음악' 점수)

a = df.loc['서준', '음악']
print(a)
b = df.iloc[0,2]
print(b)

85
85

In [5]:
# 데이터프레임 df의 특정 원소 2개이상 선택('서준'의 '음악', '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2,3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [7]:
# df 2개 이상의 행과 열에 속하는 원소들 선택('서준', '우현'의 '음악', '체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)

h = df.iloc[[0,1], [2,3]]
print(h)

i = df.loc['서준':'우현', '음악':'체육']
print(i)

j = df.iloc[:2, 2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

### 열 추가   
데이터프레임에 열을 추가하는 방법이다. 
> 열 추가: DataFrame객체['추가하려는 열 이름'] = 데이터값

In [8]:
df['국어'] = 80
df

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

### 행 추가
데이터 프레임에 행을 추가하는 방법.   

1. loc이덱서를 사용하여 입력   
2. 하나의 데이터 값을 입력 or 열의 개수에 맞게 배열 형태로 여러 개의 값을 입력
3. 전자의 경우, 행의 모든 원소에 같은 값이 추가됨.
4. 후자의 경우, 배열의 순서대로 열 위치에 값이 하나씩 추가됨. 
5. 행 벡터 자체가 배열이므로, 기존 행을 복사해서 새로운 행에 그대로 추가 할 수도 있음. 

> 행 추가:  DataFrame.loc['새로운행 이름'] = 데이터 값(또는 배열)

데이터프레임에 새로운 행을 추가 할 때는 기존 행 인덱스와 중복 되지 않는 새로운 인덱스를 사용한다. 기존 인덱스와 중복되는 경우 새로운 행을 추가하지 않고 기존 행의 원소값을 변경함.   
   
한편 행 인덱스를 지정할 때 기존 인덱스의 순서를 따르지 않아도 된다. 예제에서 df.loc[3]=0 대신 df.loc[10]=0을 사용해도 오류가 발생하지 않는다(행 인덱스는 3이 아니라 10이된다).

In [11]:
# 특정 열 삭제
df.drop('국어',1, inplace=True)
df

KeyError: "['국어'] not found in axis"

In [12]:
import pandas as pd

exam_data = {
             '이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90],
            }

df = pd.DataFrame(exam_data)
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [13]:
# 새로운 행(row) 추가 - 같은 원소 값 입력 
df.loc[3] = 0
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

In [19]:
print(len(df.columns))
df.columns

5

Index(['이름', '수학', '영어', '음악', '체육'], dtype='object')

In [15]:
# 새로운 행(row)추가 - 원소 값 여러 개의 배열 입력(단! 입력한 리스트의 길이가 기존 데이터프레임의 컬럼 길이와 동일해야함)
df.loc[4] = ['동규', 90,80,70,60]
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

In [20]:
# 새로운 행(row) 추가 - 기존 행 복사 
df.loc['행5'] = df.loc[3]
df

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0