### 행 인덱스를 기준으로 데이터 프레임 정렬 
sort_index() 메소드를 활용하여 행 인덱스를 기준으로 데이터프레임의 값을 정렬한다. 
ascending옵션을 사용하여 오름차순 또는 내림차순을 설정한다. 

> 행 인덱스 기준 정렬: DataFrame객체.sort_index()

In [1]:
import pandas as pd

dict_data = {
            'c0':[1,2,3],
            'c1':[4,5,6,],
            'c2':[7,8,9],
            'c3':[10,11,12],
            'c4':[13,14,15],
}

# 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0,r1,r2]로 지정
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [2]:
# 내림차순으로 행 인덱스 정렬 
ndf = df.sort_index(ascending=False)
ndf

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [4]:
# 오름차순으로 행 인덱스 정렬 
ndf = df.sort_index(ascending=True)
ndf

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15