### 특정 열의 데이터 값을 기준으로 데이터프레임 정렬하기

특정 열의 데이터를 기준으로 데이터프레임을 정렬할 수 있다. sort_values()메소드를 활용하며, 새롭게 정렬된 데이터프레임 객체를 반환한다. 
> 열 기준 정렬: DataFrame객체.sort_values()

c1 열을 기준으로 데이터프레임을 내림차순 정렬

In [1]:
import pandas as pd

dict_data = {
            'c0':[1,2,3],
            'c1':[4,5,6,],
            'c2':[7,8,9],
            'c3':[10,11,12],
            'c4':[13,14,15],
}

df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [10]:
# c1열을 기준으로 내림차순 정렬
ndf = df.sort_values(by='c1', ascending=True)
ndf

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13