In [1]:
import pandas as pd

In [2]:
# 행 인덱스/ 열 이름 지정하여 데이터 프레임 만들기 
df = pd.DataFrame([[15, 'male', 'DuckYoung Middle'],
                   [17, 'female', 'SuRi Middle']],
                    index=['준서', '예은'],
                    columns=['나이', '성별', '학교']
                 )

# 행 인덱스, 열 이름 확인하기 
print(df)
print()
print(df.index)
print()
print(df.columns)

    나이      성별                학교
준서  15    male  DuckYoung Middle
예은  17  female       SuRi Middle

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

### 행인덱스와 열 이름 변경   

*방법1* : 단, 동일한 사이즈대로 모두 입력해야함. 하나만 바꾸고 싶다고 하나만 입력하는 것이 아니라 기존의 내용과 동일한 것도 동일하게 length를 유지하여 입력해야함.

- 행 인덱스 변경: DataFrame 객체.index = 새로운 행 인덱스의 배열   
- 열 이름 변경: DataFrame 객체.columns = 새로운 열 이름 배열

In [10]:
df.index=['학생1', '학생2']
df.columns=['연령', '남녀', '소속']

print(df) # 데이터 프레임
print('n')
print(df.index) # 행 인덱스 
print('n')
print(df.columns) # 열 이름

     연령      남녀                소속
학생1  15    male  DuckYoung Middle
학생2  17  female       SuRi Middle
n
Index(['학생1', '학생2'], dtype='object')
n
Index(['연령', '남녀', '소속'], dtype='object')

In [8]:
# records 안의 좌우 정렬 하기.   
df.style.set_properties(**{'text-align': 'right'})

### 행인덱스와 열 이름 변경   

*방법2* : 원본 객체를 수정하는 것이 아닌 새로운 데이터프레임 객체를 반환함!

- 행 인덱스 변경: DataFrame 객체.rename(index={기존 인덱스: 새 인덱스, ...})
- 열 이름 변경: DataFrame 객체.rename(columns={기존 이름: 새 이름, ...})

In [12]:
# 행 인덱스/ 열 이름 지정하여 데이터 프레임 만들기 
df = pd.DataFrame([[15, 'male', 'DuckYoung Middle'],
                   [17, 'female', 'SuRi Middle']],
                    index=['준서', '예은'],
                    columns=['나이', '성별', '학교']
                 )

# 행 인덱스, 열 이름 확인하기 
print(df)
print('\n')

    나이      성별                학교
준서  15    male  DuckYoung Middle
예은  17  female       SuRi Middle

In [14]:
# 열 이름 3개중 2개만 바꿈
df.rename(columns={'나이':'연령', '성별':'남녀'}, inplace=True)


# 행 이름 2개중 1개만 바꿈
df.rename(index={'준서':'학생1'}, inplace=True)

df

     연령      남녀                학교
학생1  15    male  DuckYoung Middle
예은   17  female       SuRi Middle

### row/col(행열)삭제   
   
drop() 메서드 사용. 행을 삭제할 때는 축(axis) 옵션으로 axis=0을 입력하거나, 별도로 입력하지 않음. 반면, 축 옵션으로 axis=1을 입력하면 열을 삭제함.    
> *동시에 여러 개의 행 또는 열을 삭제하려면 리스트 형태*로 입력한다.    

drop()메소드는 기존 객체를 변경하지 않고 새로운 객체를 반환하는 점!   
원본 객체를 직접 변경하기 위해서는 *inplce=True* 옵션을 추가해준다.   
   
> - 행 삭제: DataFrame 객체.drop(행 인덱스 또는 배열, axis=0)
> - 열 삭제: DataFrame 객체.drop(열 인덱스 또는 배열, axis=1)