In [1]:
import pandas as pd

In [22]:
exam_data = {'수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90],
            }



df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [26]:
# 데이터프레임에서 df를 복제하여 변수 df2에 저장. 변수 df2에 저장. df2의 1개 행(row) 삭제
df2=df[0:1] # 왠만하면 슬라이싱으로 데이터 프레임 복사하지 않기!
df2.drop('서준', inplace=True)
df2

c:\users\이혜성\desktop\data_anal\env\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Empty DataFrame
Columns: [수학, 영어, 음악, 체육]
Index: []

#### 잠깐만!!! 책 18쪽 슬라이싱 복사의 오류 짚기

> df2=df[]
SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame
 

df2는 df를 복제하긴 했지만 물리적 메모리는 공유하는 상태이다. 즉 테이블과 View의 관계처럼. 이 상태에서 df3의 데이터를 변경시키면 공유하고 있는 df 입장에서 곤란해지는 것이다. 그래서 경고를 주는 것인데, 이를 해결하려면 아래 처럼 접근하면 된다.

 
df2 = df[:] 대신에 *df3 = df.copy()* 로 명시적으로 메모리를 달리하거나, 

df2.drop('우현'), inplace=True) 대신에 df2 = df.drop('우현'), inplace=False) 로 명시적으로 메모리를 분리하는 방식이다. 

 

나는 앞으로 복제할 때는 그냥 df[:] 대신에 df.copy()를 사용해야 겠다.

In [27]:
# 데이터프레임에서 df를 복제하여 변수 df2에 저장. 변수 df2에 저장. df2의 1개 행(row) 삭제
df2=df.copy() # 왠만하면 슬라이싱으로 데이터 프레임 복사하지 않기!
df2.drop('서준', inplace=True)
df2

    수학  영어   음악  체육
우현  80  89   95  90
인아  70  95  100  90

In [28]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)를 삭제
df3=df.copy()
df3.drop(['우현','인아'], axis=0, inplace=True)
df3

    수학  영어  음악   체육
서준  90  98  85  100

df 변수에서 df4, df5 변수를 만듭니다. 
df4에는 수학 과목 열을 삭제하고 df5열에는 영어, 음악 열을 삭제합니다.

In [32]:
df4, df5 = df.copy(), df.copy()
df4.drop('수학', axis=1, inplace=True)
df4

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [34]:
df5.drop(['영어','음악'], axis=1, inplace=True) 
df5

    수학   체육
서준  90  100
우현  80   90
인아  70   90