In [1]:
import pandas as pd

#  중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({
                    'c1':['a','a','b','a','b'],
                    'c2':[1,1,1,2,2],
                    'c3':[1,1,2,2,2]            
                                })
print(df)
print('\n')

#  데이터프레임에서 중복 행 제거 
df2 = df.drop_duplicates()
print(df2)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [3]:
import pandas as pd

#  중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({
                    'c1':['a','a','b','a','b'],
                    'c2':[1,1,1,2,2],
                    'c3':[1,1,2,2,2]            
                                })
print(df)
print('\n')

#  데이터프레임에서 중복 행 제거 
df2 = df.drop_duplicates()
print(df2)
print('\n')


df3 = df.drop_duplicates(subset=['c2','c3'])
print(df3)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [5]:
1.6934/0.425

3.984470588235294

In [6]:
0.124/1.6934

0.0732254635644266

In [30]:
import pandas as pd

df = pd.read_csv('./auto-mpg.csv', header=None)

# # 열 이름 지정
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model year', 'origin', 'name']
df.head(3)



# mpg(mile per gallon)를 kpl(killometer per liter)로 변환 (mpg_to_kpl = 0.425)
mpg_to_kpl = 1.60934/3.78541

# mpg 열에 0.425를 곱한 결과를 새로운 열(kpl)에 추가
df['kpl'] = df['mpg'] * mpg_to_kpl
print(df.head(3))

# kpl열을 소수점 아래  셋째자리에서 반올림하여 2째자리까지 나타냄
df['kpl'] = df['kpl'].round(2)
df.head(3)

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70

   origin                       name       kpl
0       1  chevrolet chevelle malibu  7.652571
1       1          buick skylark 320  6.377143
2       1         plymouth satellite  7.652571

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.65